.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1500px;
  margin: auto;
  padding: 20px;
}

.details-grid {
  display: flex;
  width: 100%;
}

.gem-details-container {
  flex: 0 0 70%;
  padding: 20px;
  border: 1px solid #ccc; /* Border around the gem details container */
}

.comments-container {
  flex: 0 0 30%; /* Width of the comments container */
  padding: 20px;
  border: 1px solid #ccc; /* Border around the comments container */
  margin-left: 20px; /* Add some space between the gem details and comments */
  max-height: 100%;
  overflow-y: auto;
}

.gem-details-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.gem-details-ratings-map {
  display: flex;
  height: 100%;
  padding-right: 20px; /* Adds padding to the right inside the container, effectively moving its children slightly to the left */
}


.gem-details-ratings {
  flex: 1;
  padding-right: 20px;
  
}

.gem-details-map {
  flex: 1;
  max-width: 100%;
  max-height: 100%;
  margin-right: 30px; /* Add some margin to the right to move the map slightly to the left */
}

.comment-container {
  border: 1px solid #ccc;
  border-radius: 1px;
  padding: 10px;
  margin-top: 500px;
}

.comment-user-id {
  margin-bottom: 1px;
}

.comment-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trash-icon-button {
  border: none;
  background: none;
  cursor: pointer;
}

.small-trash-icon {
  font-size: 1.5rem;
  color: rgb(153, 15, 15);
}

.small-trash-icon:hover {
  color: rgb(5, 3, 3);
}

.gem-details-description {
  text-align: left;
}

.gem-details-ratings p {
  margin: 0;
}

.gem-details-comment-form {
  margin-top: 20px;
}

.comment-textarea {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  resize: vertical;
  width: 100%;
}

.comment-submit-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
  margin-top: 10px;

}

.comment-submit-btn:hover {
  background-color: #0056b3;
}