.top-gems-container {
    margin: auto;
    width: 80%;
    padding: 20px;
  }

  .top-gems-title {
    text-align: center;
    margin-bottom: 30px;
  }

  .gems-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }

  .gem-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }

  .gem-location {
    font-size: 20px;
    color: #333;
  }

  .gem-description {
    font-size: 16px;
    color: #666;
  }
  .gem-image {
    max-width: 100%; /* Ensures image does not overflow its container */
    height: auto; /* Keeps the aspect ratio of the image */
  }
  
.comment-box {
  display: flex;
  flex-direction: column;
  max-width: 100%; /* Ensure it doesn't stretch out of bounds */
  margin-top: 20px; /* Add some space between gem card and comment box */
}

.d-comment-box textarea {
  width: 100%; /* Take full width */
  max-width: 100%; /* Ensure it doesn't stretch out of bounds */
  padding: 10px; /* Adjust padding as needed */
  margin-bottom: 10px; /* Add some space between textarea and submit button */
}

.d-comment-box input[type="submit"] {
  align-self: flex-end; /* Align the submit button to the right */
  padding: 8px 15px; /* Adjust padding as needed */
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  
}

.d-comment-box input[type="submit"]:hover {
  background-color: #45a049;
}