.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1500px;
  margin: auto;
  padding: 20px;
}

.details-grid {
  display: flex;
  width: 100%;
}

.gem-details-container {
  flex: 0 0 70%;
  padding: 20px;
}

.comments-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%; /* Adjust width as necessary */
  margin-left: 20px;
}






.gem-details-ratings {
  flex: 1;
  padding-right: 20px;
  
}



.comment-container {
  border: 2.5px solid #71eeff;
  border-radius: 30px;
  padding: 10px;
 
}

.comment-user-id {
  margin-bottom: 1px;
}

.comment-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trash-icon-button {
  border: none;
  background: none;
  cursor: pointer;
}

.small-trash-icon {
  font-size: 1.5rem;
  color: rgb(153, 15, 15);
}

.small-trash-icon:hover {
  color: rgb(5, 3, 3);
  transform: scale(1.2); /* Slightly enlarge on hover for interaction feedback */

}

.gem-details-description {
  text-align: center;
}

.gem-details-ratings p {
  margin: 0;
}

.gem-details-comment-form {
  margin-top: 20px;
}

.comment-textarea {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  resize: vertical;
  width: 80%;
  margin-left: 50px;
}

.comment-submit-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
  margin-left: 50px;

}

.comment-submit-btn:hover {
  background-color: #02060b;
  transform: scale(1.1); /* Slightly enlarge on hover for interaction feedback */

}
.img-description-tags {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  width: 90%; /* Adjust width as necessary */
}

.gem-details-image {
  max-width: 50%;
  height: auto;
  border-radius: 8px; /* Slightly increased for a softer look */
  border: 10px solid #040303; /* Lighter border for subtlety */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
  display: block;
  margin: 20px auto; /* Centers the image and adds some space around */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effects */
}

.gem-details-image:hover {
  transform: scale(1.05); /* Slightly enlarge on hover for interaction feedback */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Enhance shadow on hover for emphasis */
}


.gem-details-description {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
  color: #060404;
}

/* Optional: Style for the tags */
.img-description-tags span {
  background-color: #c6f4f8;
  color: #333;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 20px;
  font-size: 14px;
}
.gem-details-map {
  height: 500px; /* Adjust as necessary */
  width: 500px;
  margin-top: 20px;
}