.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    transition: transform 0.2s;
}
.gem-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates three columns */
    gap: 20px; /* Maintains spacing between cards */
    margin-bottom: 20px; /* Adds some space below the grid */
 
}
.home-map {
    width: 65%;
    height: 65vh;
    border: 1px solid black;
}

.create-gem-btn {
    width: 15%;
    height: 7vh;
    margin-top: 20px;
    margin-bottom: 20px;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    border: 0px;
}

.sub-title {
    font-size: 30px;
    color: black;
    border: 0px;
    font-weight: 300px;
}